h1{
    color : rgba(0, 0, 255, 0.938)
}
*{
    border : solid
}
.header{
    background-color: rgb(248, 175, 187);
    display : flex;
    justify-content : space-between;
}
.grid{
    display : flex;
    flex-wrap: wrap;
    justify-content : space-evenly;
}
.footer{
    display : flex;
    justify-content : flex-end;
}
p, h2{
    text-align : center;
}
.header1{
    background-color : purple;
}
.grid1{
    background-color: black;
    display : flex;
    flex-wrap: wrap;
    justify-content : space-evenly;
}
